<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782888754880-o8n5on9j0h2sda9jg269b5ft6vs4ed81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782888754880-o8n5on9j0h2sda9jg269b5ft6vs4ed81</string>
	<key>API_KEY</key>
	<string>AIzaSyBeJ1VJxG--qn6jm5hjJU4B5AM6bfkXLsM</string>
	<key>GCM_SENDER_ID</key>
	<string>782888754880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lahav-Lipson.Columbia-Connect</string>
	<key>PROJECT_ID</key>
	<string>columbia-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>columbia-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:782888754880:ios:57cdbe58fc014083</string>
	<key>DATABASE_URL</key>
	<string>https://columbia-connect.firebaseio.com</string>
</dict>
</plist>